.pizza {
  flex-basis: 60%;
  height: 100%;
}
.pizza img {
  object-fit: contain;
  pointer-events: none;
}

.pizza-base,
.sauce,
.pizza-item {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pizza-item {
  position: absolute;
  visibility: hidden;
  width: 70%;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}

.visible {
  visibility: visible;
}

/* calsses for different items */
.pizza-item__olives,
.pizza-item__jalapenos,
.pizza-item__spinach,
.pizza-item__mozzarella,
.pizza-item__mushrooms,
.pizza-item__cheese,
.pizza-item__ham,
.pizza-item__pepperoni {
  width: 60%;
}

@media screen and (max-width: 640px) {
  .pizza {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
  }
}
