.selection__component {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 1);
  // cursor: grab;
  transition: all linear;
}

.selection__component:active {
  top: 2px;
  left: 2px;
  // cursor: grabbing;
  box-shadow: 6px 6px 16px -6px rgba(0, 0, 0, 1);
}

.selection__component:active::after {
  // cursor: grabbing;
}

.selection__component label {
  padding-left: 1rem;
  cursor: pointer;
  padding: 10px;
}

.selection {
  flex-basis: 20%;
  height: 100%;
}

.selection__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.selection label[for="pizzaSauceSelect"] {
  margin-bottom: 10px;
}

.pizza-sauce__select {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
}

.selection-checkbox {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.selection select,
.label-toppings {
  margin-bottom: 10px;
}

.selection {
  display: flex;
  flex-direction: column;
  background: #00000050;
  padding: 1rem;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* not available in Firefox atm, perhaps later */
  -moz-backdrop-filter: blur(6.5px);
}

.selection_component_wrap {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .selection {
    display: flex;
    height: 100%;
    padding: 4px;
    padding-bottom: 0;
    width: 100%;
  }

  .selection_component_wrap {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 0 1rem;
  }

  .selection_component_wrap_left {
    content: url("/src/img/chevron-left.svg");
    position: absolute;
    left: 6px;
    bottom: 1rem;
    z-index: 200;
    pointer-events: none;
    visibility: hidden;
  }

  .selection_component_wrap_right {
    content: url("/src/img/chevron-right.svg");
    position: absolute;
    right: 6px;
    bottom: 1rem;
    z-index: 200;
    pointer-events: none;
    visibility: visible;
  }

  .selection__header {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }

  .pizza-sauce__select {
    padding: 4px;
    border-radius: 4px;
    font-size: 0.7rem;
  }
  .selection select {
    margin-bottom: 6px;
  }

  /* Component */
  .selection__component {
    margin-right: 10px;
    font-size: 0.9rem;
    padding: 6px 10px;
    box-shadow: none;
  }

  .selection-checkbox {
    margin-right: 10px;
  }
  .selection__component:active {
    box-shadow: none;
  }
  .selection__component label {
    padding-left: 0;
  }
}
