.total {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 100%;
}

._total__header {
  font-size: 2rem;
  border-bottom: 2px dotted #fff;
  margin-bottom: 1rem;
}

#totalSauce::first-letter {
  text-transform: uppercase;
}

#totalSauce::after {
  content: "+";
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

#itemsCart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#totalPrice {
  font-size: 2rem;
  margin-top: 1rem;
  border-top: 2px dotted #fff;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #00000050;
  padding: 1rem;
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  /* not available in Firefox atm, perhaps later */
  -moz-backdrop-filter: blur(6.5px);
}

#itemsCart {
  scrollbar-width: none;
}

#itemsCart::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  .total {
    /* flex-direction: row; */
    margin-bottom: 0;
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    height: 70px;
    width: 100%;
    padding: 4px;
  }
  .total__mobile-expanded {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 300;
  }
  .total__mobile-expanded ._total__header {
    /* writing-mode: vertical-rl;
    transform: rotate(180deg); */
    margin-bottom: 4px;
  }
  .total__mobile-expanded .items__cart_expand {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .total__mobile-expanded #itemsCart {
    visibility: visible;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
  }
  ._total__header,
  #totalPrice {
    font-size: 1.4rem;
  }
  #totalSauce::after {
    margin-bottom: 2px;
  }
  ._total__header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
    -webkit-writing-mode: normal;
        -ms-writing-mode: normal;
            writing-mode: normal;
    text-orientation: mixed;
    margin-bottom: 0;
    margin-right: 15px;
    padding-left: 5px;
    border-bottom: 2px dotted #fff;
  }
  #itemsCart {
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    overflow-y: scroll;
    text-align: center;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .items__cart_expand-btn {
    content: url(/src/img/chevron-right.svg);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 200;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    border-radius: 50%;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  #totalPrice {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 0;
    border: none;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=total.css.map */